[Unit]
Description=Run ipcheck collector every 10 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min
AccuracySec=30s
Persistent=true
Unit=ipcheck-collector.service

[Install]
WantedBy=timers.target
